/*Este Archivo incluye los estilos basicos para maquetado*/

/* 1.- Maquetado con Display Float*/
.float-l{float: left;}
.float-r{float: right;}
.clear, .clear::before, .clear::after{clear: both;}
.clear::before, .clear::after{
	content: "";
	display: block;
}

/* 2.- Maquetado con Display Inline-Block*/
.ib{ display: inline-block; }

/* 3.- Maquetado con Display Table*/
.table{ display: table; }
.table-cell{ display: table-cell; }

/* 4.- Maquetado con Display Flex :-) */
.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flex-inline{
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}
.flex-row{
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
.flex-row-reverse{
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.flex-column {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-column-reverse {
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
.flex-nowrap {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-wrap-reverse {
	-webkit-flex-wrap: wrap-reverse;
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}
.jc-flex-start {
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.jc-flex-end {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.jc-center {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.jc-space-between {
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.jc-space-around {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.ai-flex-start {
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.ai-flex-end {
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.ai-center {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.ai-baseline {
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}
.ai-stretch {
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.ac-flex-start {
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}
.ac-flex-end {
	-webkit-align-content: flex-end;
	-ms-flex-line-pack: end;
	align-content: flex-end;
}
.ac-center {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}
.ac-space-between {
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
}
.ac-space-around {
	-webkit-align-content: space-around;
	-ms-flex-line-pack: justify;
	align-content: space-around;
}
.ac-stretch {
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}
/* Propiedades de los Hijos */
.flex-none { 
	-ms-flex: none;
	-webkit-flex: none;
	flex: none;
}
.flex-auto { 
	-ms-flex: auto;
	-webkit-flex: auto;
	flex: auto;
}
.as-flex-start {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}
.as-flex-end {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}
.as-center {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}
.as-baseline {
	-webkit-align-self: baseline;
	-ms-flex-item-align: baseline;
	align-self: baseline;
}
.as-stretch {
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}
.as-auto {
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

/* Alineaciones  verticales y horizontales */
.v-baseline{ vertical-align: baseline; }
.v-bottom{ vertical-align: bottom; }
.v-middle{ vertical-align: middle; }
.v-top{ vertical-align: top; }
.letf { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify { text-align: justify; }

/* Tamaño de fuente! */
.f0{ font-size: 0; }

@media screen and (min-width: 30em){
	/* 1.- Maquetado con Display Float*/
	.sm-float-l{float: left;}
	.sm-float-r{float: right;}
	.sm-clear, .sm-clear::before, .sm-clear::after{clear: both;}
	.sm-clear::before, .sm-clear::after{
		content: "";
		display: block;
	}
	/* 2.- Maquetado con Display Inline-Block*/
	.sm-ib{ display: inline-block; }
	/* 3.- Maquetado con Display Table*/
	.sm-table{ display: table; }
	.sm-table-cell{ display: table-cell; }
	/* 4.- Maquetado con Display Flex :-) */
	.sm-flex{
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.sm-flex-inline{
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: inline-flex;
	}
	.sm-flex-row{
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.sm-flex-row-reverse{
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.sm-flex-column {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.sm-flex-column-reverse {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.sm-flex-nowrap {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	.sm-flex-wrap {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.sm-flex-wrap-reverse {
		-webkit-flex-wrap: wrap-reverse;
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}
	.sm-jc-flex-start {
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.sm-jc-flex-end {
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.sm-jc-center {
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.sm-jc-space-between {
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.sm-jc-space-around {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.sm-ai-flex-start {
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.sm-ai-flex-end {
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.sm-ai-center {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.sm-ai-baseline {
		-webkit-align-items: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}
	.sm-ai-stretch {
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
	.sm-ac-flex-start {
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
	}
	.sm-ac-flex-end {
		-webkit-align-content: flex-end;
		-ms-flex-line-pack: end;
		align-content: flex-end;
	}
	.sm-ac-center {
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
	}
	.sm-ac-space-between {
		-webkit-align-content: space-between;
		-ms-flex-line-pack: justify;
		align-content: space-between;
	}
	.sm-ac-space-around {
		-webkit-align-content: space-around;
		-ms-flex-line-pack: justify;
		align-content: space-around;
	}
	.sm-ac-stretch {
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
	}
	/* Propiedades de los Hijos */
	.sm-flex-none { 
		-ms-flex: none;
		-webkit-flex: none;
		flex: none;
	}
	.sm-flex-auto { 
		-ms-flex: auto;
		-webkit-flex: auto;
		flex: auto;
	}
	.sm-as-flex-start {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
	}
	.sm-as-flex-end {
		-webkit-align-self: flex-end;
		-ms-flex-item-align: end;
		align-self: flex-end;
	}
	.sm-as-center {
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		align-self: center;
	}
	.sm-as-baseline {
		-webkit-align-self: baseline;
		-ms-flex-item-align: baseline;
		align-self: baseline;
	}
	.sm-as-stretch {
		-webkit-align-self: stretch;
		-ms-flex-item-align: stretch;
		align-self: stretch;
	}
	.sm-as-auto {
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;
	}
}
@media screen and (min-width: 48em){
	/* 1.- Maquetado con Display Float*/
	.md-float-l{float: left;}
	.md-float-r{float: right;}
	.md-clear, .md-clear::before, .md-clear::after{clear: both;}
	.md-clear::before, .md-clear::after{
		content: "";
		display: block;
	}
	/* 2.- Maquetado con Display Inline-Block*/
	.md-ib{ display: inline-block; }
	/* 3.- Maquetado con Display Table*/
	.md-table{ display: table; }
	.md-table-cell{ display: table-cell; }
	/* 4.- Maquetado con Display Flex :-) */
	.md-flex{
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.md-flex-inline{
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: inline-flex;
	}
	.md-flex-row{
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.md-flex-row-reverse{
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.md-flex-column {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.md-flex-column-reverse {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.md-flex-nowrap {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	.md-flex-wrap {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.md-flex-wrap-reverse {
		-webkit-flex-wrap: wrap-reverse;
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}
	.md-jc-flex-start {
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.md-jc-flex-end {
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.md-jc-center {
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.md-jc-space-between {
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.md-jc-space-around {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.md-ai-flex-start {
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.md-ai-flex-end {
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.md-ai-center {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.md-ai-baseline {
		-webkit-align-items: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}
	.md-ai-stretch {
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
	.md-ac-flex-start {
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
	}
	.md-ac-flex-end {
		-webkit-align-content: flex-end;
		-ms-flex-line-pack: end;
		align-content: flex-end;
	}
	.md-ac-center {
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
	}
	.md-ac-space-between {
		-webkit-align-content: space-between;
		-ms-flex-line-pack: justify;
		align-content: space-between;
	}
	.md-ac-space-around {
		-webkit-align-content: space-around;
		-ms-flex-line-pack: justify;
		align-content: space-around;
	}
	.md-ac-stretch {
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
	}
	/* Propiedades de los Hijos */
	.md-flex-none { 
		-ms-flex: none;
		-webkit-flex: none;
		flex: none;
	}
	.md-flex-auto { 
		-ms-flex: auto;
		-webkit-flex: auto;
		flex: auto;
	}
	.md-as-flex-start {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
	}
	.md-as-flex-end {
		-webkit-align-self: flex-end;
		-ms-flex-item-align: end;
		align-self: flex-end;
	}
	.md-as-center {
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		align-self: center;
	}
	.md-as-baseline {
		-webkit-align-self: baseline;
		-ms-flex-item-align: baseline;
		align-self: baseline;
	}
	.md-as-stretch {
		-webkit-align-self: stretch;
		-ms-flex-item-align: stretch;
		align-self: stretch;
	}
	.md-as-auto {
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;
	}
}
@media screen and (min-width: 64em){
	/* 1.- Maquetado con Display Float*/
	.lg-float-l{float: left;}
	.lg-float-r{float: right;}
	.lg-clear, .lg-clear::before, .lg-clear::after{clear: both;}
	.lg-clear::before, .lg-clear::after{
		content: "";
		display: block;
	}
	/* 2.- Maquetado con Display Inline-Block*/
	.lg-ib{ display: inline-block; }
	/* 3.- Maquetado con Display Table*/
	.lg-table{ display: table; }
	.lg-table-cell{ display: table-cell; }
	/* 4.- Maquetado con Display Flex :-) */
	.lg-flex{
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.lg-flex-inline{
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: inline-flex;
	}
	.lg-flex-row{
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.lg-flex-row-reverse{
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.lg-flex-column {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.lg-flex-column-reverse {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.lg-flex-nowrap {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	.lg-flex-wrap {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.lg-flex-wrap-reverse {
		-webkit-flex-wrap: wrap-reverse;
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}
	.lg-jc-flex-start {
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.lg-jc-flex-end {
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.lg-jc-center {
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.lg-jc-space-between {
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.lg-jc-space-around {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.lg-ai-flex-start {
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.lg-ai-flex-end {
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.lg-ai-center {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.lg-ai-baseline {
		-webkit-align-items: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}
	.lg-ai-stretch {
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
	.lg-ac-flex-start {
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
	}
	.lg-ac-flex-end {
		-webkit-align-content: flex-end;
		-ms-flex-line-pack: end;
		align-content: flex-end;
	}
	.lg-ac-center {
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
	}
	.lg-ac-space-between {
		-webkit-align-content: space-between;
		-ms-flex-line-pack: justify;
		align-content: space-between;
	}
	.lg-ac-space-around {
		-webkit-align-content: space-around;
		-ms-flex-line-pack: justify;
		align-content: space-around;
	}
	.lg-ac-stretch {
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
	}
	/* Propiedades de los Hijos */
	.lg-flex-none { 
		-ms-flex: none;
		-webkit-flex: none;
		flex: none;
	}
	.lg-flex-auto { 
		-ms-flex: auto;
		-webkit-flex: auto;
		flex: auto;
	}
	.lg-as-flex-start {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
	}
	.lg-as-flex-end {
		-webkit-align-self: flex-end;
		-ms-flex-item-align: end;
		align-self: flex-end;
	}
	.lg-as-center {
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		align-self: center;
	}
	.lg-as-baseline {
		-webkit-align-self: baseline;
		-ms-flex-item-align: baseline;
		align-self: baseline;
	}
	.lg-as-stretch {
		-webkit-align-self: stretch;
		-ms-flex-item-align: stretch;
		align-self: stretch;
	}
	.lg-as-auto {
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;
	}
}