/*Estilos de reinicio para comenzar la maquetación*/
html{
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
}
*, *::after, *::before{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}