html{
	font-family: sans-serif;
	font-size: 16px;
}
.numbers li{
	width: 100px;
	height: 100px;
	text-align: center;
	color: #EEE;
	background: #205081;
	border: thin solid #ff5700;
}
.numbers li:nth-child(5){
	visibility: hidden; /*Afecta la visualizacion del CONTENIDO de la Caja*/
}
.basics li:last-child{
	display: none;
}
div{background: orange;}
span{background: skyblue;}